nav {
  width: 100%;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-list > li {
  margin: .5rem;
}

section {
  text-align: center;
}

img[alt="logo"]{
  max-width: 360px;
}